# Task 4 - Satisfaction Analysis

In [1]:
# Import Libraries
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..')))
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np 
from pandas.api.types import is_string_dtype, is_numeric_dtype

In [2]:
%matplotlib inline
#display-related options
pd.set_option('display.max_columns', None)
pd.set_option("display.precision", 3)
pd.set_option("display.expand_frame_repr", False)

In [3]:
engagment_path = "../data/score/engagement.csv"
experience_path = "../data/score/experience.csv"

In [4]:
def read_CSV_data(csv_path):
    try:    
        df = pd.read_csv(csv_path)
        print("file read as csv")
        return df
    except FileNotFoundError:
        print("file not found")

In [5]:
user_engagement=read_CSV_data(engagment_path)
user_experience=read_CSV_data(experience_path)

file read as csv
file read as csv

In [8]:
satisfaction_metrics = pd.merge(user_engagement, user_experience, on="MSISDN/Number")
satisfaction_metrics['satisfaction_score'] = (satisfaction_metrics['engagement_score'] +
                                              satisfaction_metrics['Experiance_score']) / 2

score_df = satisfaction_metrics[['MSISDN/Number', 'engagement_score',
                                              'Experiance_score', 'satisfaction_score']]

   MSISDN/Number  engagement_score  Experiance_score  satisfaction_score
0      3.360e+10         1.256e+08         1.055e+08           1.156e+08
1      3.360e+10         5.962e+08         1.055e+08           3.509e+08
2      3.360e+10         1.571e+08         1.055e+08           1.313e+08
3      3.360e+10         3.308e+08         1.055e+08           2.182e+08
4      3.360e+10         7.043e+08         1.075e+08           4.059e+08

In [10]:
score_df=score_df.sort_values(['satisfaction_score'],ascending=False)
score_df.head(10)

        MSISDN/Number  engagement_score  Experiance_score  satisfaction_score
106855      8.824e+14         6.139e+08         8.824e+14           4.412e+14
106854      3.370e+14         1.568e+08         3.370e+14           1.685e+14
106853      3.197e+12         5.210e+08         3.163e+12           1.582e+12
13526       3.363e+10         8.599e+08         1.016e+09           9.380e+08
6437        3.361e+10         8.599e+08         9.563e+08           9.081e+08
13180       3.363e+10         8.599e+08         9.553e+08           9.076e+08
37052       3.366e+10         8.599e+08         8.922e+08           8.761e+08
92923       3.376e+10         8.599e+08         8.211e+08           8.405e+08
76363       3.368e+10         8.599e+08         7.919e+08           8.259e+08
65118       3.367e+10         8.599e+08         7.036e+08           7.818e+08

### Task 4.3 - Build a regression model of your choice to predict the satisfaction score of a customer.

In [12]:
from sklearn.linear_model import LinearRegression
X = score_df[['engagement_score', 'Experiance_score']]
y = score_df[['satisfaction_score']]

linear_reg = LinearRegression()

x = linear_reg.fit(X, y)
pred = linear_reg.predict(X)